@font-face {
  font-family: 'Equitan Sans';
  src: url("../fonts/Equitan Sans/EquitanSans-Regular.otf");
}
html,
body {
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Equitan Sans';
  overflow-x: hidden;
}
.bg-blue {
  background-color: #3aa5f1;
}
.fore_color_blue {
  color: #3aa5f1 !important;
}
.fore_color_white {
  color: #fff !important;
}
.search-box .icon {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 40px;
  cursor: pointer;
  color: #ff0404;
}
.search {
  width: 100%;
  min-width: 90%;
  font-size: 14px;
  color: #4a4848;
  border-radius: 100px;
  padding: 5px 40px;
  border: 1px solid #4a4848;
  min-height: 40px;
}
.search:focus {
  outline: none;
  border: 1px solid #4a4848;
  box-shadow: 0 0 2px #4a4848;
}
.logo {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 0;
}
.container-fluid {
  width: 100%;
  padding: 20px 1px 20px 0px;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.nav {
  width: 100%;
  position: absolute;
  right: 0%;
  background: #fff;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}
@media (min-width: 700px) {
  .nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
}
.nav-open {
  clip-path: circle(250% at top right);
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  min-width: 10%;
}
@media (min-width: 700px) {
  .nav li {
    display: inline-block;
  }
}
.nav li:nth-child(1) {
  width: 70%;
  margin-left: 15px;
}
@media (min-width: 700px) {
  .nav li:nth-child(1) {
    width: 50%;
  }
}
@media (min-width: 700px) {
  .nav li:nth-child(2) {
    min-width: 5%;
  }
}
@media (min-width: 700px) {
  .nav li:nth-child(5) {
    margin-left: 60px;
  }
}
.nav a {
  color: #000;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-decoration: none;
  margin-right: 15px;
  font-size: 13.5px;
}
@media (min-width: 700px) {
  .spam-nav {
    max-width: 80px;
    position: absolute;
    border-right: 1px solid #ccc;
    margin-left: 15px;
  }
}
@media (min-width: 700px) {
  .nav a {
    padding: 0;
    margin-left: 3em;
  }
}
.nav a:hover,
.nav a:focus {
  background: #e4b363;
  color: #464655;
}
@media (min-width: 700px) {
  .nav a:hover,
  .nav a:focus {
    background: transparent;
  }
}
.nav-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #4a4848;
  margin-left: 15px;
}
.badge {
  position: relative;
  display: inline-block;
}
.spam_badge {
  background: #ff0404;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 8px;
  border-radius: 15px;
}
.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }
}
.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #000;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}
.open .hamburger {
  transform: rotate(45deg);
}
.open .hamburger::before {
  opacity: 0;
}
.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}
.menu {
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-left: 0px !important;
  top: 23px;
}
.menu li {
  list-style: none;
  float: left;
  margin: 0px 10px;
  padding: 0px 5px 0px 5px;
  max-width: 11%;
  min-width: 6%;
}
.menu li:hover {
  background-color: #f5f5f5;
}
.menu li a {
  color: #000;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}
.ovale-red {
  background-color: #ff0404;
  border-radius: 100px;
  color: #fff;
  padding: 5px 15px 5px 15px;
  vertical-align: middle;
  font-size: 24px;
}
.horizontal-line {
  position: relative;
  width: 100%;
  top: 20px;
}
.horizontal-bar {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #59c8cc;
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 100px;
  margin: 40px 0px 10px 0px;
}
.breadcrumb {
  clear: left;
  float: left;
  width: 100%;
}
.breadcrumb a {
  position: relative;
  float: left;
  height: 20px;
  padding: 0 15px 0 20px;
  margin-bottom: 2px;
  font-size: 0.7em/2;
  color: #666;
  text-decoration: none;
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  z-index: 2;}

.breadcrumb a:before {
  content: '';
  position: absolute;
  right: -12px;
  top: -1px;
  z-index: 1;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #ccc;}


.breadcrumb a:last-child:after{  
  display: none}

.breadcrumb a:last-child:before{  
  display: none}
.offers {
  margin-top: 20px;
  padding: 30px;
  font-size: 24px;
}
.carousel-wrap {
  width: 100%;
  position: relative;
}
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}
.owl-nav i {
  font-size: 52px;
}
.owl-nav .owl-prev {
  left: -70px;
  width: 25px;
  height: 25px;
  padding: 12.5px;
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 100%;
}
.owl-nav .owl-next {
  right: 0px;
  width: 25px;
  height: 25px;
  padding: 12.5px;
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 100%;
}
.item {
  height: 400px;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.product {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.product > img {
  width: 100px !important;
  height: 210px;
  margin-left: 30%;
}
.product_container {
  width: 100%;
  bottom: 5;
  background-color: #f6faff;
  position: absolute;
  overflow: visible;
  min-height: 35%;
  border-radius: 0px 0px 10px 10px;
  font-size: 18px;
}
.product_container > span {
  width: 100%;
  margin: 5px 0px 0px 10px;
  display: block;
}
.product_container > div > input {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 5px 0px 5px;
  text-align: center;
}
.product_container > div > button {
  font-size: 16px;
  margin-bottom: 5px;
  border: none;
  min-width: 50%;
  padding: 10px;
}
.product_badge {
  display: block;
  padding: 5px;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  min-width: 20px;
  max-width: 30%;
  text-align: center;
  font-size: 17px;
}
.product_title {
  text-transform: uppercase;
  font-size: 16px;
}
.Oh {
  padding: 2px;
  border-radius: 5px;
  width: auto !important;
  display: inline-block !important;
  margin: 5px 5px 0px 6px !important;
}
