white=#fff
white-bone=#f5f5f5
white-bone2=#f8f8f8
gray-color = #4a4848
black-color = #2f2f2f
light-gray-color = #cccccc
dark-gray-color = #cccccc
red-color = #e5222a
red-color-active = #ab000b
red-color-hover = #ff0404
blue-color = #3aa5f1
shadow-blue = #f6faff

tecnologia = #4a6fda
electrohogar = #59c8cc
decohogar = #ff9000
muebles = #ff5b57
dormitorio = #766bee
deportes = #7bae00
infantil = #00b88b
calzado = #d79444
bellezayaccesorios = #ff57bb
moda = #6a5e5e

height-nav = 100px
nav-icon-size = 24px

@font-face
  font-family: 'Equitan Sans'
  src: url('../fonts/Equitan Sans/EquitanSans-Regular.otf')

html, body
  margin: 0 auto
  background-color: white
  font-family: 'Equitan Sans'
  overflow-x: hidden

button 
  cursor: pointer

.bg-blue
  background-color: blue-color

.fore_color_blue
  color: blue-color !important

.fore_color_white
  color: white !important

.search-box .icon 
  position: absolute
  top: 12px
  left: 150px 
  width: 40px 
  cursor: pointer
  color: red-color

@media (min-width: 700px) 
  .search-box .icon
    left: 20px 

.search
  width: 100%
  min-width: 90%
  font-size: 14px
  color: gray-color
  border-radius: 100px
  padding: 5px 40px
  border: 1px solid gray-color
  min-height: 40px

.search:focus
  outline: none
  border: 1px solid gray-color
  box-shadow: 0 0 2px gray-color

.logo
    width: 80px
    height 40px
    position: absolute
    top: 0px    

@media (min-width: 700px)    
  .logo 
    left:35%

@media (min-width: 1025px)    
  .logo
    left:53%

.container-fluid
    width: 100%
    padding: 20px 1px 20px 0px  
    overflow: hidden

.container
    width: 90%
    margin:0 auto
    padding: 20px

.nav
    width:100%
    position: absolute
    right: 0%
    background: #fff

@media (min-width: 700px)   
  .nav 
    height: auto
    position: relative
    background: transparent
    float: right
    clip-path: initial
  
.nav ul
  margin: 0
  padding: 0
  list-style: none

.nav li    
  min-width:0%
  display: inline-flex

@media (min-width: 700px)   
  .nav li 
    display: inline-block    
    min-width:15%

@media (min-width: 1025px)   
  .nav li 
    display: inline-block    
    min-width:10%
  
.nav li:nth-child(1)
  width: 30%
  margin-left:150px

.nav li:nth-child(2) 
  margin-left:-250px

.nav li:nth-child(3) 
  display:none

.nav li:nth-child(4) 
  margin-left:230px

.nav li:nth-child(5) 
  margin-left: -20px  

.nav li:nth-child(4) > a > spam
  display:none

.nav li:nth-child(5) > spam
  display:none 

@media (min-width: 700px)    
  .nav li:nth-child(1) 
    width:30%
    margin-left:15px

@media (min-width: 1025px)    
  .nav li:nth-child(1) 
    width:50%

@media (min-width: 700px)    
  .nav li:nth-child(2) 
    min-width:15%
    margin-left:0px

@media (min-width: 1025px)    
  .nav li:nth-child(2) 
    min-width:10%
    margin-left:0px

@media (min-width: 700px)    
  .nav li:nth-child(3) 
    display:inline-block

@media (min-width: 700px)    
  .nav li:nth-child(4) 
    margin-left:0px

  .nav li:nth-child(4) > a > spam
    display:inline-block
    

@media (min-width: 700px)    
  .nav li:nth-child(5) 
    margin-left: 60px    

  .nav li:nth-child(5) > spam
    display:inline-block

@media (min-width: 1025px)    
  .nav li:nth-child(5) 
    margin-left: 10px

.nav a
  color: gray-color
  display: block  
  text-decoration: none
  margin-right: 15px
  font-size: 13.5px    

 @media (min-width: 700px)    
  .spam-nav
    max-width: 80px
    position: absolute
    border-right: 1px solid light-gray-color
    margin-left: 15px


 @media (min-width: 700px)    
  .nav a 
    padding: 0px
    margin-left: 0px    
  
.nav a:hover, .nav a:focus   
    color: #464655

 @media (min-width: 700px)    
  .nav a:hover,
  .nav a:focus 
    background: transparent
  
.nav-icon   
  font-size: nav-icon-size 
  vertical-align: middle
  color: gray-color
  margin-left: 15px     

.badge  
  position: relative  
  display: inline-block

.spam_badge 
  background: red-color
  color: white
  font-size: 12px
  position: absolute
  top: -10px
  right: -10px
  padding: 5px 8px
  border-radius: 15px

.menu-toggle
  padding: 1em
  position: absolute
  left: 90px
  cursor: pointer

@media (min-width: 700px)   
  .menu-toggle 
    display: none
    right: .5em
    left: 0px

.hamburger,
.hamburger::before,
.hamburger::after 
  content: ''
  display: block
  background: #000
  height: 3px
  width: 1.75em
  border-radius: 3px
  transition: all ease-in-out 500ms


.hamburger::before 
  transform: translateY(-6px)


.hamburger::after 
  transform: translateY(3px)

.open .hamburger 
  transform: rotate(45deg)


.open .hamburger::before 
  opacity: 0


.open .hamburger::after 
  transform: translateY(-3px) rotate(-90deg)

.menu 
  background: white
  position: relative
  overflow: hidden
  padding-left: 0px !important
  top:0px
  display: none

.menu-open
  display: block;
  position: absolute
  top: 50px
  width: 100%
  height: 100%
  z-index: 999999

.menu-open li 
  float: none !important
  padding: 15px  !important
  max-width: 100% !important
  min-width: 6% !important
  width: 100% !important

@media (min-width: 700px)   
  .menu
    display: block    

.menu li 
  list-style: none
  float: left
  margin: 0px 10px
  padding: 0px 5px 0px 5px 
  max-width: 11%
  min-width: 6%

.menu li:hover
  background-color: white-bone

.menu li a 
  color: gray-color
  display: inline-block
  font-size: 16px
  text-decoration: none
  display: inline-block

.ovale-red
  background-color: red-color
  border-radius: 100px
  color: white   
  padding: 5px 15px 5px 15px
  vertical-align: middle
  font-size: 24px 

.ovale-red:active
  background-color: red-color-active

.ovale-red:hover
  background-color: red-color-hover

.horizontal-line
  position: relative
  width: 100%
  margin: 60px 0px 0px 0px

.horizontal-bar
  position: relative
  width: 100%
  height: 100px
  background-color:electrohogar
  text-align: center
  font-size: 30px
  color:white
  line-height: 100px
  margin: 0px 0px 10px 0px
@media (min-width: 700px)   
  .horizontal-bar
    margin: 4px 0px 10px 0px


.breadcrumb 
  clear: left
  float: left
  width: 100%

.breadcrumb a 	
	position: relative 
	float: left
	height: 20px
	padding: 0px 15px 0px 20px
	margin-bottom: 2px 
	font-size: .7em/2
	color: #666
	text-decoration: none

@css {
  .breadcrumb a:after {
    content: '';
    position: absolute;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    z-index: 2;}
  
  .breadcrumb a:before {
    content: '';
    position: absolute;
    right: -12px;
    top: -1px;
    z-index: 1;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #ccc;}
  

  .breadcrumb a:last-child:after{  
    display: none}
  
  .breadcrumb a:last-child:before{  
    display: none}
}
.offers
  margin-top: 20px
  padding: 30px
  font-size: 24px
  color: gray-color

.carousel-wrap 
  width: 100%
  position: relative

#first_carousel .item 
  position: relative
  z-index: 100 
  -webkit-backface-visibility: hidden 

.owl-nav > div 
  margin-top: -26px
  position: absolute
  top: 50%
  color: #cdcbcd

.owl-nav i 
  font-size: 52px

.owl-nav .owl-prev 
  left: -70px
  width: 25px
  height: 25px
  padding: 12.5px
  background-color: white-bone2
  text-align: center
  border-radius: 100%

.owl-nav .owl-next 
  right: 0px
  width: 25px
  height: 25px
  padding: 12.5px
  background-color: white-bone2
  text-align: center
  border-radius: 100%

#first_carousel .item
  height:400px
  width: 250px
  background-color:white
  border: 1px solid light-gray-color
  border-radius: 10px

.product 
  position: relative
  width: 100%
  height: 100%
  background-repeat: no-repeat  

.product > img 
  width: 100px !important
  height 210px
  margin-left: 30%

.product_container
  width: 100%
  bottom: 5
  background-color: shadow-blue
  position: absolute
  overflow: visible
  min-height: 35%
  border-radius: 0px 0px 10px 10px
  font-size:18px

.product_container > span
  width: 100%
  margin: 5px 0px 0px 10px
  display: block

.product_container > div > input
  width: 50px
  height: 35px
  border-radius: 5px 
  display: inline-block
  margin: 5px 5px 0px 5px
  text-align: center

.product_container > div > button  
  font-size: 16px
  margin-bottom: 5px
  border: none
  min-width: 50%
  padding: 10px

.product_badge 
  display: block
  padding: 5px
  background-color: black-color
  color: white
  border-radius: 5px
  margin: 5px
  min-width: 20px
  max-width: 30%
  text-align: center
  font-size:17px

.product_title
  text-transform: uppercase 
  font-size:16px

.Oh
  padding: 2px
  border-radius: 5px
  width: auto !important
  display: inline-block !important  

.item .Oh
  margin: 5px 5px 0px 6px !important

.intermediate
  height: 400px
  width: 100%
  margin: 20px 0px 0px 0px
  background-color: light-gray-color

.intermediate > .text
  float: right 
  margin: 40px 80px 0px 0px
  text-align: right 
  color: white

.intermediate > .text > p:nth-child(1)
  font-size: 30px
  margin-bottom: 5px !important

.intermediate > .text > p:nth-child(2)
  font-size: 16px
  margin-top: 5px !important

.intermediate > .ballon
  float: left
  margin: 90px 0px 0px 40px
  padding: 15px
  height: 100px
  width: 20%
  border-radius: 5px
  background-color: electrohogar
  min-width: 200px;

@media (min-width: 700px)   
  .intermediate > .ballon
    margin: 240px 0px 0px 240px

#second_carousel .item
  height:100%
  width: 100%

.subcategories
  height: 200px
  width: 80%
  margin: 20px 0px 0px 0px 
  padding: 15px 12.5% 15px 12.5%

#third_carousel .item
  height:100px
  width: 50%
  background-color:white 
  padding: 20%

#third_carousel > .owl-dots
  text-align: center

.owl-dots .owl-dot 
  display: inline-block

.owl-dots .owl-dot span 
  background: none repeat scroll 0 0 white
  border: solid 1px light-gray-color
  border-radius: 20px
  display: block
  height: 3px
  width: 3px
  margin: 5px 7px  

.owl-dots .active span 
  background-color: dark-gray-color !important

.circle_div
  border-radius:100% 
  display: block 
  background-color: electrohogar
  width 100px
  height:100px
  position: absolute
  bottom: 3px

.circle_div > img
  width:100px
  height:100px
  margin-left:20px
  position: absolute
  bottom: 3px


.grids
  height: auto
  width: 90%
  margin: 20px 5% 0px 5% 
  padding: s15px
  overflow-x: hidden

@css {

  .wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, [col] 25% ) ;
  grid-template-rows: repeat(5, [row] 150px );
  background-color: #fff;
  color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;		
    padding: 0px;	   
  }

  .box .box {
    background-color: #ccc;
    color: #444;
  }	

  .a {
    grid-column: col / span 4;
    grid-row: row 1;
  }

  .b{
    grid-column: col 1 / span 4;
    grid-row: row 2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .c {
    grid-column: 1;
    grid-row: 1/3;
  }

  .d {
    grid-column: 2;
    grid-row: 1;
  }

  .e {
    grid-column: 2;
    grid-row: 2;
  }

  .f {
    grid-column: col / span 4;
    grid-row: row 4;
  }

  .g {
    grid-column: col 1 / span 4;
    grid-row: row 3;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .h {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .i {
    grid-column: 1 / span 2;
    grid-row: 2;   
  }

  .j {
    grid-column: col 1 / span 4;
    grid-row: row 5;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, [col] 25% ) ;
    grid-template-rows: repeat(2, [row] 150px );
    background-color: #fff;
    color: #444;
  }

  .a {
    grid-column: col / span 2;
    grid-row: row 1;
  }

  .b{
    grid-column: col 3 / span 2;
    grid-row: row 1;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .c {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .d {
    grid-column: 1;
    grid-row: 1;
  }

  .e {
    grid-column: 2;
    grid-row: 1;
  }

  .f {
    grid-column: col / span 1;
    grid-row: row 2;
  }

  .g {
    grid-column: col 2 / span 1;
    grid-row: row 2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .h {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .i {
    grid-column: 1 / span 2;
    grid-row: 2;   
  }

  .j {
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
  }
  }

.footer
  margin-top:20px
  clear: both
  overflow: hidden

.footerWrap
  position: relative
  float: left
  width: 100%
  margin-bottom:50px
  color: #000

.look
  margin: 0px 0px 0px 0px
  width: 100%

@media (min-width: 700px) 
  .look
    margin: 10px 10px 10px 50px

.footer_section
  overflow: hidden
  float: left
  display: inline
  width: 100%  
  margin: 0 10% 0px 0
  font: 10pt 
  line-height: 1.6em
  text-align: center

.footer_section h3
  font-weight: normal
  font: 12pt 
  color: red-color

@media (min-width: 700px)    
  .footer_section
    width: 160px
    text-align: left

@media (min-width: 700px)    
  .footer_section a
    display: inline

.footer_section > a
  display: none
  color: gray-color
  text-decoration: none 

@media (min-width: 700px)    
  .footer_section > a
    display: inline

.legality
  margin: auto 
  width: 100%
  height 100px
  text-align: center
  clear: both
  font: 10pt 
  line-height: 2em
  padding: 40px 0px 0px 0px
  border-top: 1px solid gray-color

.social-bar a 
  margin-right: 5px
  text-decoration: none

.social-bar a:first-child 
    padding-left: 0

.social-bar a span 
  margin-left: 5px

.social-bar .facebook 
  color: #333333
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5)

.social-bar .facebook:hover 
  color: #3B5998
  transition: ease-in-out .5s

.social-bar .twitter 
  color: #333333
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5)

.social-bar .twitter:hover 
  color: #00ACED
  transition: ease-in-out .5s

.social-bar .instagram 
  color: #333333
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.5)

.social-bar .instagram:hover 
  color: #E14107
  transition: ease-in-out .5s