white=#fff
white-bone=#f5f5f5
white-bone2=#f8f8f8
gray-color = #4a4848
light-gray-color = #cccccc
red-color = #ff0404
blue-color = #3aa5f1
green-color = #59c8cc
height-nav = 100px
nav-icon-size = 24px

@font-face
    font-family: 'Equitan Sans'
    src: url('../fonts/Equitan Sans/EquitanSans-Regular.otf')

html, body
    margin: 0 auto
    background-color: white
    font-family: 'Equitan Sans'
    overflow-x: hidden

.row 
    margin-top: 0.5rem
    display: flex
    flex-direction: row
    flex-wrap: wrap

.col 
    flex: 1 1 8%
    margin: 0 0 0.5rem 0
    padding: 0.5em 10px
    box-sizing: border-box

.col-span-1 
  flex-basis: 8.3333%


.col-span-2 
  flex-basis: 16.6666% 


.col-span-3 
  flex-basis: 25%


.col-span-4 
  flex-basis: 33.3333%


.col-span-5 
  flex-basis: 41.6666%


.col-span-6 
  flex-basis: 50%


.col-span-7 
  flex-basis: 58.3333%


.col-span-8 
  flex-basis: 66.6666%


.col-span-9 
  flex-basis: 75%


.col-span-10 
  flex-basis: 83.3333%


.col-span-11 
  flex-basis: 91.6666%


.col-span-12 
  flex-basis: 100%

.search-box .icon 
    position: absolute
    top: 12px
    left: 20px 
    width: 40px 
    cursor: pointer
    color: red-color

.search
    width: 100%
    min-width: 90%
    font-size: 14px
    color: gray-color
    border-radius: 100px
    padding: 5px 40px
    border: 1px solid gray-color
    min-height: 40px

.search:focus
    outline: none
    border: 1px solid gray-color
    box-shadow: 0 0 2px gray-color

.logo
    width: 80px
    height 40px
    position: absolute
    top: 0

.container-fluid
    width: 100%
    padding: 20px 1px 20px 0px  

.container
    width: 90%
    margin:0 auto
    padding: 20px

.nav
    width:100%
    position: absolute
    right: 0%
    background: #fff
    clip-path: circle(0px at top right)
    transition: clip-path ease-in-out 700ms

@media (min-width: 700px)   
  .nav 
    height: auto
    position: relative
    background: transparent
    float: right
    clip-path: initial
  
.nav-open
    clip-path: circle(250% at top right)

.nav ul
    margin: 0
    padding: 0
    list-style: none

.nav li    
    min-width:10%

@media (min-width: 700px)   
  .nav li 
    display: inline-block    
  
.nav li:nth-child(1)
    width: 70%
    margin-left:15px

@media (min-width: 700px)    
  .nav li:nth-child(1) 
    width:50%

@media (min-width: 700px)    
  .nav li:nth-child(2) 
    min-width:5%

@media (min-width: 700px)    
  .nav li:nth-child(5) 
    margin-left: 60px

.nav a
    color: #000000
    display: block
    padding: 2em 4em 2em 1.5em
    text-decoration: none
    margin-right: 15px
    font-size: 13.5px
    

 @media (min-width: 700px)    
  .spam-nav
    max-width: 80px
    position: absolute
    border-right: 1px solid light-gray-color
    margin-left: 15px


 @media (min-width: 700px)    
  .nav a 
    padding: 0
    margin-left: 3em
  
.nav a:hover, .nav a:focus
    background: #E4B363
    color: #464655

 @media (min-width: 700px)    
  .nav a:hover,
  .nav a:focus 
    background: transparent
  
.nav-icon   
    font-size: nav-icon-size 
    vertical-align: middle
    color: gray-color
    margin-left: 15px

.badge  
  position: relative  
  display: inline-block

.spam_badge 
  background: red-color
  color: white
  font-size: 12px
  position: absolute
  top: -10px
  right: -10px
  padding: 5px 8px
  border-radius: 15px

.menu-toggle
    padding: 1em
    position: absolute
    top: .5em
    right: .5em
    cursor: pointer

@media (min-width: 700px)   
  .menu-toggle 
    display: none

.hamburger,
.hamburger::before,
.hamburger::after 
  content: ''
  display: block
  background: #000
  height: 3px
  width: 1.75em
  border-radius: 3px
  transition: all ease-in-out 500ms


.hamburger::before 
  transform: translateY(-6px)


.hamburger::after 
  transform: translateY(3px)

.open .hamburger 
  transform: rotate(45deg)


.open .hamburger::before 
  opacity: 0


.open .hamburger::after 
  transform: translateY(-3px) rotate(-90deg)

.menu 
  background: white
  position: relative
  overflow: hidden
  padding-left: 0px !important
  top:23px

.menu li 
  list-style: none
  float: left
  margin: 0px 10px
  padding: 0px 5px 0px 5px 
  max-width: 11%
  min-width: 6%

.menu li:hover
  background-color: white-bone

.menu li a 
  color: #000
  display: inline-block
  font-size: 16px
  text-decoration: none
  display: inline-block

.ovale-red
  background-color: red-color
  border-radius: 100px
  color: white   
  padding: 5px 15px 5px 15px
  vertical-align: middle
  font-size: 24px 

.horizontal-line
  position: relative
  width: 100%
  top: 20px

.horizontal-bar
  position: relative
  width: 100%
  height: 100px
  background-color:green-color
  text-align: center
  font-size: 30px
  color:white
  line-height: 100px
  margin: 40px 0px 10px 0px

.breadcrumb 
  clear: left
  float: left
  width: 100%

.breadcrumb a 	
	position: relative 
	float: left
	height: 20px
	padding: 0 15px 0 20px
	margin-bottom: 2px 
	font-size: .7em/2
	color: #666
	text-decoration: none

@css {
  .breadcrumb a:after {
    content: '';
    position: absolute;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    z-index: 2;}
  
  .breadcrumb a:before {
    content: '';
    position: absolute;
    right: -12px;
    top: -1px;
    z-index: 1;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #ccc;}
  

  .breadcrumb a:last-child:after{  
    display: none}
  
  .breadcrumb a:last-child:before{  
    display: none}
}
.offers
  margin-top: 20px
  padding: 30px
  font-size: 24px

.carousel-wrap 
  width: 100%
  position: relative

.owl-carousel .item 
  position: relative
  z-index: 100 
  -webkit-backface-visibility: hidden 

.owl-nav > div 
  margin-top: -26px
  position: absolute
  top: 50%
  color: #cdcbcd

.owl-nav i 
  font-size: 52px

.owl-nav .owl-prev 
  left: -70px
  width: 25px
  height: 25px
  padding: 12.5px
  background-color: white-bone2
  text-align: center
  border-radius: 100%

.owl-nav .owl-next 
  right: 0px
  width: 25px
  height: 25px
  padding: 12.5px
  background-color: white-bone2
  text-align: center
  border-radius: 100%

.item
  height:300px
  width: 150px
  padding: 50px
  background-color:white
  border: 1px solid light-gray-color
  border-radius: 10px